body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.button-box {
  background: #222; /* Set background color for the button box */
  padding: 20px; /* Add padding to create space around the button */
  margin-top: 20px; /* Add margin to create space between button box and other buttons */
  width: 800px;
  height: 900px;
}

/* square yellow button with yellow bg transitional */
#Button1 {
  margin-bottom: 5rem;
  display: block;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid #262626;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
}

#Button1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff200;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
  overflow: hidden;
}

#Button1:hover:before {
  transform: rotate(0deg);
}

/* 
sliding left to right hover button */
#Button2 {
  margin-bottom: 5rem;
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #351435;
  padding: 20px 40px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

#Button2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #351435;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 1s;
}

#Button2:hover:before {
  transform: translateX(0);
}

#Button2:hover {
  color: white;
}

/* x and y rotating button */
#Button3 {
  margin-bottom: 5rem;
  text-decoration: none;
  font-family: sans-serif;
  padding: 40px 80px;
  color: #262626;
  font-size: 45px;
  letter-spacing: 2px;
  border: 5px solid #262626;
  position: relative;
  transition: 1s;
}

#Button3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

#Button3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

#Button3:hover:before {
  transform: rotateX(0deg);
}

#Button3:hover:after {
  transform: rotateY(0deg);
}

#Button3:hover {
  color: white;
}

/* Button that enlarges on hover */
#Button4 {
  margin-bottom: 5rem;
  text-decoration: none;
  padding: 40px 80px;
  color: #e1332d;
  border: 3px solid #e1332d;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "roboto";
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}

#Button4:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid #e1332d;
}

/* Lightsaber type button that goes from left to right */
#Button5 {
  background-color: #222;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid white;
  padding: 40px 80px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

#Button5:hover {
  background-color: #f44336;
}

#Button5:before {
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

#Button5:hover:before {
  transform: translateX(100%) rotate(45deg);
}
